<!DOCTYPE html>
<html>
<head>
{% load static %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Programação para Makers</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
	<link rel="stylesheet" href="{% static "assets/css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
	<link rel="stylesheet" href="{% static "assets/css/ready.css" %}">
	<link rel="stylesheet" href="{% static "assets/css/demo.css" %}">
</head>
<body>
	<div class="wrapper">
		<div class="main-header">
			<div class="logo-header">
			 <h6>  </h6>
             <a color="black" href="/">
                <h6 align = 'center'  class="logo">
                    Programação Para Makers
                </h6>
                </a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
			</div>
			<nav class="navbar navbar-header navbar-expand-lg">
				<div class="container-fluid">
					
					<form class="navbar-left navbar-form nav-search mr-md-3" action="">
						<div class="input-group">
							<input type="text" placeholder="Procurar no Site..." class="form-control">
							<div class="input-group-append">
								<span class="input-group-text">
									<i class="la la-search search-icon"></i>
								</span>
							</div>
						</div>
					</form>
					<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
						<li class="nav-item dropdown hidden-caret">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="la la-envelope"></i>
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="#">Mandar Mensagem</a>
								<a class="dropdown-item" href="#">Ver Minhas Mensagens</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Criar um desejo</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false"> 
							<img src="{% static "assets/img/profile.jpg" %}" alt=":-)" width="36" class="img-circle">
							<span >Seu nome aqui!</span>
							</a>
							<ul class="dropdown-menu dropdown-user">
								<li>
									<div class="user-box">
										<div class="u-img">
										<img src="{% static "assets/img/profile.jpg" %}" width="36" class="img-circle" alt=";-)">
										</div>
										<div class="u-text">
											<h4>Seu nome aqui!</h4>
											<p class="text-muted">Seu_email@aqui.com</p><a href="#" class="btn btn-rounded btn-danger btn-sm">Meus Dados</a></div>
										</div>
									</li>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#"><i class="ti-user"></i> Meus Dados</a>
									<a class="dropdown-item" href="#"></i> Minhas conquistas</a>
									<a class="dropdown-item" href="#"><i class="ti-email"></i> Entrada</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#"><i class="ti-settings"></i> Config. da Conta</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#"><i class="fa fa-power-off"></i> Sair</a>
								</ul>
								<!-- /.dropdown-user -->
							</li>
						</ul>
					</div>
				</nav>
			</div>
			<div class="sidebar">
				<div class="scrollbar-inner sidebar-wrapper">
					<div class="user">
						<div class="photo">
							<img src="{% static "assets/img/profile.jpg" %}"  width="36" class="img-circle">
						</div>
						<div class="info">
							<a class="" data-toggle="collapse" href="#" aria-expanded="true">
								<span>
									Seu nome Aqui!
									<span class="user-level">Profissional
									<span class="badge badge-count">29</span>
									</span>
									<span class="caret"></span>
								</span>
							</a>
							<div class="clearfix"></div>

							<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
								<ul class="nav">
									<li>
										<a href="#">
											<span class="link-collapse">Meus Dados</span>
										</a>
									</li>
									<li>
										<a href="#">
											<span class="link-collapse">Editar Dados</span>
										</a>
									</li>
									<li>
										<a href="#">
											<span class="link-collapse">Config. Conta</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<ul class="nav">
						<li class="nav-item">
							<a href="#">
								<i class="la la-dashboard"></i>
								<p>Vitórias</p>
								<span class="badge badge-count">5</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="#">
								<i class="la la-table"></i>
								<p>Recentes</p>
								<span class="badge badge-count">14</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="#">
								<i class="la la-keyboard-o"></i>
								<p>Arduino</p>
								<span class="badge badge-count">50</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="#">
								<i class="la la-th"></i>
								<p>Raspberry PI</p>
								<span class="badge badge-count">6</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="#">
								<i class="la la-bell"></i>
								<p>Como Fazer</p>
								<span class="badge badge-success">3</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="#">
								<i class="la la-font"></i>
								<p>Reciclagem</p>
								<span class="badge badge-danger">25</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="#">
								<i class="la la-fonticons"></i>
								<p>Forum</p>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="main-panel">
                <div class="container-fluid">
                <h6>Selecione</h6>
                <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                            </div>
                        </div>
                </div>
                    <div class="row">
                        <div class="col-md-6">
                                <div class="card">
                                {% block content %}{% endblock %}
                                </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">Aviso aos novos usuários!</div>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <p class="lead">Bem vindos novos amigos! Estamos muito felizes de você ter chego ate nós! Somos uma comunidade de aprendizado e evolução tecnológica, focados em programação para as mais diversas áreas do conhecimento humano, incluindo diversos hobbies, saúde e bem estar, segurança entre outros.
                                        Para participar dessa comunidade você precisa se registrar. Coloque seu email com uma senha e pronto! Seu acesso está garantido. No seu email haverá um link de confirmação que garantirá o seu acesso para sempre.
                                        Caso esse link não seja acessado nos próximos minutos, seu acesso sera bloqueado e só será desbloqueado quando você clicar no link enviado!
                                        </p>
                                        <p class="lead">Ao colocar o email você concorda em receber promoções e informações de nosso site.</p>
                                        <p class="lead">Fique de olho para promoções! Sempre fazemos algumas loucuras. Como dar desconto para aqueles que compartilham nossos posts nas midias sociais! Os descontos são sempre muito bons!</p>
                                    </div>                                          
                                </div>
                            </div>
                         </div>
                    </div>
                </div>
			</div>
		</div>
	</div>

</body>

<script src="{% static "assets/js/core/jquery.3.2.1.min.js" %}"></script>
<script src="{% static "assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js" %}"></script>
<script src="{% static "assets/js/core/popper.min.js" %}"></script>
<script src="{% static "assets/js/core/bootstrap.min.js" %}"></script>
<script src="{% static "assets/js/plugin/chartist/chartist.min.js" %}"></script>
<script src="{% static "assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js" %}"></script>
<script src="{% static "assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js" %}"></script>
<script src="{% static "assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js" %}"></script>
<script src="{% static "assets/js/plugin/jquery-mapael/jquery.mapael.min.js" %}"></script>
<script src="{% static "assets/js/plugin/jquery-mapael/maps/world_countries.min.js" %}"></script>
<script src="{% static "assets/js/plugin/chart-circle/circles.min.js" %}"></script>
<script src="{% static "assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js" %}"></script>
<script src="{% static "assets/js/ready.min.js" %}"></script>
<script src="{% static "assets/js/demo.js" %}"></script>
</html>