{% extends "blog/blog_base.html" %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Deletar o Post</legend>
                    <h2>Tem certeza que quer deletar o "{{ object.title }}"</h2>
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-danger" type="submit">Sim</button>
                    <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
