{% extends "blog/blog_base.html" %}
{% block content %}


  {% for email in email_list %}
    <div class="row">
    <div class="card">
        <div class="card-header">
            <a href="/EmailAdmin/{{email.id}}">{{email.email_title}}</a>
        </div>
        <div class="card-body">
        <ul>
        {{ email.email_text | safe }}
        </ul>
        <ul>
        {{ email.emails.as_p }}
        </ul>                
        </div>
        <div class="card-footer">
        {{email.date_and_time}}
            
        </div>
    </div>
    </div>
    {% endfor %}
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">Primeiro</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Próximo</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Último</a>
      {% endif %}

    {% endif %}

{% endblock content %}
