{% extends "blog/base.html" %}

{% block content %}
</div>
    <div class="card">
        <div class="card-header">
            <h6>Cadastro!</h6>
        </div>
        <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            
                <ul>
                    <h6>Nome de usuário:</h6> 
                    {{ form.username.errors }}
                    {{ form.username }}
                </ul>
                <ul>
                    <h6>Email:</h6>
                      {{ form.email.errors }}
                      {{ form.email }}
                </ul>
                <ul>
                    <h6>Digite a sua senha:</h6>
                      {{ form.password1.errors }}
                      {{ form.password1 }}
                </ul>
                <ul>
                    <h6>Repita a sua senha!</h6>
                      {{ form.password2.errors }}
                      {{ form.password2 }}
                      <p>Entre a mesma senha anterior para confirmação</p>
                </ul>
                <ul>
                    <button class="btn btn-outline-info" type="submit">Cadastrar!</button>
                </ul>
        </form>
        <div class="card-footer">
                <ul>
                    <big class="btn btn-outline-info">
                        <a  href="{% url 'login' %}">Log in!</a>
                    </big>
                </ul>
                <ul>
                    <big class="btn btn-outline-info">
                            <a href="{% url 'password_reset' %}">Esqueceu a senha?</a>
                    </big>
                </ul>
        </div>
    </div>

{% endblock content %}
