{% extends "blog/blog_base.html" %}

{% block content %}

    <div class="card">
        <div class="card-header">

        </div>
        <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Cadastro!</legend>
              <div border="1">
                <ul>
                    <h6>Nome de usuário:</h6> 
                    {{ form.username.errors }}
                    {{ form.username }}
                </ul>
                <ul>
                    <h6>Email:</h6>
                      {{ form.email.errors }}
                      {{ form.email }}
                </ul>
                <ul>
                    <h6>Digite a sua senha:</h6>
                      {{ form.password1.errors }}
                      {{ form.password1 }}
                </ul>
                <ul>
                    <h6>Repita a sua senha!</h6>
                      {{ form.password2.errors }}
                      {{ form.password2 }}
                      <p>Entre a mesma senha anterior para confirmação</p>
                </ul>
              </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Cadastrar!</button>
            </div>
        </form>
     <div class="card-footer">
            <small class="text-muted">
                Já tem uma conta? <a class="ml-2" href="{% url 'login' %}">Log In</a>
            </small>
        </div>
    </div>
        </div>



{% endblock content %}
