{% extends "blog/blog_base.html" %}

{% block content %}

    <div class="card">
        <div class="card-header">
        <h6>Compartilhe nas suas redes para ganhar pontos e descontos!</h6>
        </div>
        <div class="card-body">
        <ul>
        <form id= 'CopyToClipboard' method="POST">
        {% csrf_token %}
            <div class="demo-icon"> 
                <div class="icon-preview">
                    <i class="la la-external-link-square"></i>
                </div>
                <input type="text" value="{{slug}}" id="ext">
                <input type="hidden" name="form_type" value="CopyToClipboard">
                <button class="btn btn-outline-info" onclick="CopyToClipBoard()" type="submit" >Copiar</button>
            </div>
        </form>
        </ul>
        <ul>
            <form id= 'ShareOnFacebook' method="POST">
            {% csrf_token %}
            <div class="demo-icon"> 
                <div class="icon-preview">
                    <i class="la la-facebook"></i>
                </div>
                <input type="hidden" name="form_type" value="ShareOnFacebook">
                <button class="btn btn-outline-info" onclick="CommitShare()">Compartilhar</button>
            </div>
            </form>
        </ul>
        
<script>
function CopyToClipBoard() {
  var copyText = document.getElementById("ext");
  copyText.select();
  document.execCommand("copy");
}


</script>
<script>
function CommitShare(){
 varWindow = window.open ('https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.programacaoparamakers.com.br%2F&amp;src=sdkpreparse', 'popup')
 document.getElementById("ShareOnFacebook").submit();
 }
 </script>
 


</div>
</div>

{% endblock content %}
