{% extends "blog/blog_base.html" %}
{% block content %}
    
    <div class="row">
        <div class="card">
            <div class="card-header">
            <h6>Todas as Conquistas, Medalhas, Badges e Shields</h6>
            </div>
            <div class="card-body">

            {% for medal in medals %}
            <ul>test</ul>
            {% endfor %}

            </div>
            <div class="card-footer">
            
            <a href='https://br.freepik.com/vetores-gratis/colecao-de-elementos-de-design-para-criacao-de-crista_1257803.htm'>Desenhado por 0melapics</a>    
                
            </div>
        </div>
    </div>



{% endblock content %}
